---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: rook-ceph-mon
  namespace: rook-ceph-external
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    creationPolicy: Owner
  data:
  - secretKey: admin-secret
    remoteRef:
      key: rook-ceph/admin-secret
  - secretKey: mon-secret
    remoteRef:
      key: rook-ceph/mon-secret
  - secretKey: ceph-secret
    remoteRef:
      key: rook-ceph/ceph-secret
  - secretKey: ceph-username
    remoteRef:
      key: rook-ceph/ceph-username
  - secretKey: cluster-name
    remoteRef:
      key: rook-ceph/cluster-name
  - secretKey: fsid
    remoteRef:
      key: rook-ceph/fsid
---
