---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: rook-ceph-mon
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    creationPolicy: Owner
  data:
  - secretKey: admin-secret
    remoteRef:
      key: rook-ceph/admin-secret
  - secretKey: mon-secret
    remoteRef:
      key: rook-ceph/mon-secret
  - secretKey: ceph-secret
    remoteRef:
      key: rook-ceph/ceph-secret
  - secretKey: ceph-username
    remoteRef:
      key: rook-ceph/ceph-username
  - secretKey: cluster-name
    remoteRef:
      key: rook-ceph/cluster-name
  - secretKey: fsid
    remoteRef:
      key: rook-ceph/fsid
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: rook-csi-cephfs-node
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    creationPolicy: Owner
  data:
  - secretKey: userID
    remoteRef:
      key: rook-ceph/csi-cephfs-node-userID
  - secretKey: userKey
    remoteRef:
      key: rook-ceph/csi-cephfs-node-userKey
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: rook-csi-cephfs-provisioner
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    creationPolicy: Owner
  data:
  - secretKey: userID
    remoteRef:
      key: rook-ceph/csi-cephfs-provisioner-userID
  - secretKey: userKey
    remoteRef:
      key: rook-ceph/csi-cephfs-provisioner-userKey
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: rook-csi-rbd-node
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    creationPolicy: Owner
  data:
  - secretKey: userID
    remoteRef:
      key: rook-ceph/csi-rbd-node-userID
  - secretKey: userKey
    remoteRef:
      key: rook-ceph/csi-rbd-node-userKey
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: rook-csi-rbd-provisioner
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    creationPolicy: Owner
  data:
  - secretKey: userID
    remoteRef:
      key: rook-ceph/csi-rbd-provisioner-userID
  - secretKey: userKey
    remoteRef:
      key: rook-ceph/csi-rbd-provisioner-userKey

