---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-operator
spec:
  interval: 1h
  timeout: 15m
  chartRef:
    kind: OCIRepository
    name: rook-ceph
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    csi:
      cephFSKernelMountOptions: ms_mode=prefer-crc
      # Enable the CephFS driver for external cluster
      enableCephfsDriver: true
      # Enable snapshotter if you want CephFS volume snapshots
      enableCephfsSnapshotter: true
      enableLiveness: true
      # Use krbd (kernel RBD) instead of nbd for Talos compatibility
      # krbd is already available in the kernel and doesn't require privileged mode
      # Enable snapshotter if you want RBD volume snapshots
      enableRbdSnapshotter: true
      # High availability for CSI controllers
      cephfs:
        provisioner:
          replicaCount: 2
          affinity:
            podAntiAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchLabels:
                      app: rook-ceph-external.cephfs.csi.ceph.com-ctrlplugin
                  topologyKey: kubernetes.io/hostname
      rbd:
        mounter: krbd
        provisioner:
          replicaCount: 2
          affinity:
            podAntiAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchLabels:
                      app: rook-ceph-external.rbd.csi.ceph.com-ctrlplugin
                  topologyKey: kubernetes.io/hostname
      serviceMonitor:
        enabled: true
    enableDiscoveryDaemon: true
    image:
      repository: ghcr.io/rook/ceph
    monitoring:
      enabled: true
    resources:
      requests:
        memory: 128Mi # unchangeable
        cpu: 100m # unchangeable
      limits: {}
