---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/scrapeconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: ceph-metrics-exporter
spec:
  staticConfigs:
    - targets:
        - 192.168.1.82:9283
        - 192.168.1.83:9283
        - 192.168.1.81:9283
  metricsPath: /metrics
  relabelings:
    - action: replace
      targetLabel: job
      replacement: ceph-metrics-exporter
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/scrapeconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: pve-node-exporter
spec:
  staticConfigs:
    - targets:
        - 192.168.1.81:9100
        - 192.168.1.82:9100
        - 192.168.1.83:9100
  metricsPath: /metrics
  relabelings:
    - action: replace
      targetLabel: job
      replacement: pve-node-exporter
---
