---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: k8s-gateway
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: k8s-gateway
      app.kubernetes.io/name: k8s-gateway
