---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/v1.31.0-standalone-strict/service-v1.json
apiVersion: v1
kind: Service
metadata:
  name: REPLACE_ME_SERVER-minecraft-metrics
  labels:
    app.kubernetes.io/name: REPLACE_ME_SERVER
    app.kubernetes.io/component: metrics
spec:
  type: ClusterIP
  selector:
    # itzg chart labels its Pod(s) with `app: <releaseName>-minecraft`
    app: REPLACE_ME_SERVER-minecraft
  ports:
    - name: metrics
      port: 9940
      targetPort: 9940
      protocol: TCP


