---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/policy/poddisruptionbudget_v1.json
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: coredns
spec:
  minAvailable: 1
  selector:
    matchLabels:
      k8s-app: kube-dns
