---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: cloudflare-dns
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: cloudflare-dns
      app.kubernetes.io/name: external-dns
