---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: wallos
spec:
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph-external
  interval: 1h
  path: ./kubernetes/apps/default/wallos/app
  postBuild:
    substitute:
      APP: wallos-db
      # VOLSYNC_CAPACITY must match the source PVC size (wallos-db PVC is 1Gi)
      VOLSYNC_CAPACITY: 1Gi
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: default
  wait: false

