---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app garage-webui
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: garage-webui
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      garage-webui:
        annotations:
          secret.reloader.stakater.com/reload: garage-secrets
        containers:
          app:
            image:
              repository: khairul169/garage-webui
              tag: 1.1.0@sha256:17c793551873155065bf9a022dabcde874de808a1f26e648d4b82e168806439c
            env:
              API_BASE_URL: http://garage.storage:3903
              S3_ENDPOINT_URL: http://garage.storage:3900
              API_ADMIN_KEY:
                valueFrom:
                  secretKeyRef:
                    name: garage-secrets
                    key: GARAGE_ADMIN_TOKEN
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 3909
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: [ALL] }
            resources:
              requests:
                cpu: 10m
              limits:
                cpu: 100m
                memory: 128Mi
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
    service:
      app:
        ports:
          http:
            port: &port 3909
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "Garage WebUI"
          gethomepage.dev/description: "Garage admin UI"
          gethomepage.dev/group: "Infrastructure"
          gethomepage.dev/icon: "mdi-folder-network"
        hostnames: ["garage.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
