---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  # Temporarily disabled until Grafana Operator CRDs are installed
  # - ./grafanadashboard.yaml
  - ./helmrelease.yaml
  - ./ocirepository.yaml
