---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./authentik-dashboard.yaml
  - ./couchdb-dashboard.yaml
  - ./externalsecret.yaml
  - ./grafanadashboard.yaml
  - ./garage-app-metrics-dashboard.yaml
  - ./garage-dashboard.yaml
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./proxmox-dashboard.yaml

configMapGenerator:
  - name: grafana-dashboard-authentik
    files:
      - authentik.json=./dashboards/authentik-lite.json
  - name: grafana-dashboard-couchdb
    files:
      - couchdb-10049-rev1.json=./dashboards/couchdb-10049-rev1.json
  - name: grafana-dashboard-garage-app-metrics
    files:
      - garage-app-metrics.json=./dashboards/garage-app-metrics.json
  - name: grafana-dashboard-garage
    files:
      - garage.json=./dashboards/garage.json
  - name: grafana-dashboard-proxmox
    files:
      - proxmox-overview.json=./dashboards/proxmox-overview.json

generatorOptions:
  # GrafanaDashboard.spec.configMapRef requires a stable ConfigMap name.
  disableNameSuffixHash: true
