---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: grafana-operator
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: grafana-operator
      app.kubernetes.io/name: grafana-operator
