---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app authentik
spec:
  chartRef:
    kind: OCIRepository
    name: authentik
  interval: 1h
  timeout: 15m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    global:
      podAnnotations:
        secret.reloader.stakater.com/reload: &secret authentik-config
      deploymentStrategy:
        type: RollingUpdate
      envFrom:
        - secretRef:
            name: *secret

    authentik:
      redis:
        host: dragonfly.dragonfly-system
    postgresql:
      enabled: false
    redis:
      enabled: false

    server:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
      containerSecurityContext:
        runAsNonRoot: true
        allowPrivilegeEscalation: false
        capabilities:
          drop: [ALL]
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app.kubernetes.io/component
                      operator: In
                      values: ["server"]
                    - key: app.kubernetes.io/instance
                      operator: In
                      values: ["authentik"]
                topologyKey: kubernetes.io/hostname
      initContainers:
        - name: init-db
          image: ghcr.io/home-operations/postgres-init:18.3.0@sha256:6fa1f331cddd2eb0b6afa7b8d3685c864127a81ab01c3d9400bc3ff5263a51cf
          envFrom:
            - secretRef:
                name: *secret
      autoscaling:
        enabled: true
        minReplicas: 2
        maxReplicas: 3
      resources:
        requests:
          cpu: 200m
          memory: 512Mi
        limits:
          memory: 1Gi
      metrics:
        prometheus:
          serviceMonitor:
            enabled: true
      route:
        main:
          enabled: true
          annotations:
            gethomepage.dev/enabled: "true"
            gethomepage.dev/name: "Authentik"
            gethomepage.dev/description: "Single sign-on"
            gethomepage.dev/group: "Infrastructure"
            gethomepage.dev/icon: "authentik.png"
            gethomepage.dev/pod-selector: "app.kubernetes.io/instance=authentik,app.kubernetes.io/component=server"
          hostnames: ["sso.${SECRET_DOMAIN}"]
          parentRefs:
            # TODO: Use external
            - name: envoy-internal
              namespace: network
      ingress:
        enabled: false

    prometheus:
      rules:
        enabled: false

    worker:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
      containerSecurityContext:
        runAsNonRoot: true
        allowPrivilegeEscalation: false
        capabilities:
          drop: [ALL]
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app.kubernetes.io/component
                      operator: In
                      values: ["worker"]
                    - key: app.kubernetes.io/instance
                      operator: In
                      values: ["authentik"]
                topologyKey: kubernetes.io/hostname
      autoscaling:
        enabled: true
        minReplicas: 2
        maxReplicas: 3
      resources:
        requests:
          cpu: 200m
          memory: 512Mi
        limits:
          memory: 1.5Gi

