---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: cloudnative-pg
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: cloudnative-pg
      app.kubernetes.io/name: cloudnative-pg
