---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name wallos
spec:
  chartRef:
    kind: OCIRepository
    name: wallos
  interval: 1h
  values:
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 1
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: bellamy/wallos
              tag: 4.5.0
            env:
              TZ: "America/Toronto"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 80
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 256Mi
    service:
      app:
        controller: *name
        ports:
          http:
            port: 80
    route:
      app:
        hostnames:
          - "wallos.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 80
    persistence:
      data:
        existingClaim: "${VOLSYNC_CLAIM:=${APP}}"
        advancedMounts:
          *name :
            app:
              - path: /var/www/html/db
                subPath: db
              - path: /var/www/html/images/uploads/logos
                subPath: logos
      tmp:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
