---
# Homepage widgets configuration
# See https://gethomepage.dev/widgets/ for full documentation
- logo:
    icon: https://avatars.githubusercontent.com/u/627562
- search:
    provider: [google]
    focus: false
    target: _blank
- greeting:
    text_size: xl
    text: "Hey Pavel, how are you doing today?"
- kubernetes:
    cluster:
        cpu: true
        memory: true
        show: true
        showLabel: true
    nodes:
        cpu: true
        memory: true
        show: false
        showLabel: true
- openmeteo:
    label: Home
    latitude: {{HOMEPAGE_VAR_LATITUDE}}
    longitude: {{HOMEPAGE_VAR_LONGITUDE}}
    timezone: America/Toronto
    units: metric
    cache: 5
    format:
        maximumFractionDigits: 1
