---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app actual-budget
spec:
  chartRef:
    kind: OCIRepository
    name: actual-budget
  interval: 1h
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 1
        strategy: Recreate
        containers:
          app:
            image:
              repository: docker.io/actualbudget/actual-server
              tag: 25.12.0
            env:
              TZ: "America/Toronto"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 5006
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: *app
        ports:
          http:
            port: 5006
    route:
      app:
        hostnames: ["actual.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 5006
    persistence:
      data:
        existingClaim: "${VOLSYNC_CLAIM:=${APP}}"
        advancedMounts:
          *app :
            app:
              - path: /data
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp

