---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/clustersecretstore_v1.json
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: onepassword
  namespace: external-secrets
spec:
  provider:
    onepasswordSDK:
      vault: HomeInfra
      auth:
        serviceAccountSecretRef:
          name: onepassword-token
          namespace: external-secrets
          key: token
  retrySettings:
    maxRetries: 2
    retryInterval: 5m
