---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/v1.34.3-standalone-strict/configmap-v1.json
apiVersion: v1
kind: ConfigMap
metadata:
  name: blackbox-exporter
data:
  config.yml: |
    modules:
      http_2xx:
        prober: http
        timeout: 5s
        http:
          preferred_ip_protocol: ip4
      tcp_connect:
        prober: tcp
        timeout: 5s
