---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/apps.deployment_v1.json
apiVersion: apps/v1
kind: Deployment
metadata:
  name: blackbox-exporter
  labels:
    app.kubernetes.io/name: blackbox-exporter
    app.kubernetes.io/instance: blackbox-exporter
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: blackbox-exporter
      app.kubernetes.io/instance: blackbox-exporter
  template:
    metadata:
      labels:
        app.kubernetes.io/name: blackbox-exporter
        app.kubernetes.io/instance: blackbox-exporter
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app.kubernetes.io/name: blackbox-exporter
                    app.kubernetes.io/instance: blackbox-exporter
                topologyKey: kubernetes.io/hostname
      containers:
        - name: blackbox-exporter
          image: prom/blackbox-exporter:v0.28.0
          imagePullPolicy: IfNotPresent
          args:
            - --config.file=/etc/blackbox_exporter/config.yml
          ports:
            - name: http
              containerPort: 9115
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /-/healthy
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /-/ready
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
            limits:
              memory: 128Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 65532
            runAsGroup: 65532
            capabilities:
              drop: ["ALL"]
          volumeMounts:
            - name: config
              mountPath: /etc/blackbox_exporter
              readOnly: true
      securityContext:
        fsGroup: 65532
      volumes:
        - name: config
          configMap:
            name: blackbox-exporter
