---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: blackbox-exporter
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: blackbox-exporter
      app.kubernetes.io/name: blackbox-exporter
