---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: cloudflare-tunnel
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: cloudflare-tunnel
      app.kubernetes.io/name: cloudflare-tunnel
