---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./externalsecrets.yaml
  - ./cronjob-backup.yaml
  - ./cronjob-restore.yaml

