---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/master-standalone-strict/poddisruptionbudget-policy-v1.json
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: loki
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: loki
      app.kubernetes.io/controller: loki

