---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml
configMapGenerator:
  - name: homepage-config
    files:
      - kubernetes.yaml=./config/kubernetes.yaml
      - services.yaml=./config/services.yaml
      - settings.yaml=./config/settings.yaml
      - widgets.yaml=./config/widgets.yaml
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
