apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: slack-notification-secret
  namespace: flux-system
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    creationPolicy: Owner
  data:
  - secretKey: token
    remoteRef:
      key: slack-bot/FLUX_NOTIFICATION_TOKEN
