---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./ocirepository.yaml
  - ./externalsecret.yaml
  - ./db-bootstrap-job.yaml
  - ./helmrelease.yaml
  - ./httproute-tracker.yaml

