---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app booklore
spec:
  targetNamespace: default
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph-external
  components:
    - ../../../../components/volsync
  interval: 1h
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/default/booklore/app
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CLAIM: *app
      # VOLSYNC_CAPACITY for BookLore app data + MariaDB sidecar
      VOLSYNC_CAPACITY: 10Gi
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
