---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cv-site
spec:
  chartRef:
    kind: OCIRepository
    name: cv-site
  interval: 1h
  values:
    controllers:
      cv-site:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/bpg/cv
              tag: "20251125"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
    defaultPodOptions:
      securityContext:
        runAsUser: 65534
        runAsGroup: 65534
        runAsNonRoot: true
        fsGroup: 65534
    service:
      app:
        ports:
          http:
            port: 80
    serviceMonitor:
      app:
        endpoints:
          - port: http
    route:
      app:
        hostnames: ["pavel.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 80

