---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cv-site
spec:
  chartRef:
    kind: OCIRepository
    name: cv-site
  interval: 1h
  values:
    controllers:
      cv-site:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/bpg/cv
              tag: '20251128-5f5c141'
            env:
              XDG_DATA_HOME: /data
              XDG_CONFIG_HOME: /config
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 80
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 64Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 80
          monitor:
            port: 2019
    serviceMonitor:
      app:
        endpoints:
          - port: monitor
    route:
      app:
        hostnames: ["pavel.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 80
    persistence:
      # we don't use caddy certs, etc, so don't need persistent volumes here
      data:
        type: emptyDir
        globalMounts:
          - path: /data
      config:
        type: emptyDir
        globalMounts:
          - path: /config
