---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cv-site
spec:
  chartRef:
    kind: OCIRepository
    name: cv-site
  interval: 1h
  values:
    controllers:
      cv-site:
        replicas: 2
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/bpg/cv
              tag: '20260130-4c50719'
            env:
              XDG_DATA_HOME: /data
              XDG_CONFIG_HOME: /config
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 80
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 64Mi
    defaultPodOptions:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app.kubernetes.io/name: cv-site
                topologyKey: kubernetes.io/hostname
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: cv-site
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 80
          monitor:
            port: 2019
    serviceMonitor:
      app:
        endpoints:
          - port: monitor
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "CV Site"
          gethomepage.dev/description: "Personal portfolio website"
          gethomepage.dev/group: "Personal Sites"
          gethomepage.dev/icon: "https://pavel.${SECRET_DOMAIN}/assets/images/profile.jpg"
        hostnames: ["pavel.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 80
    persistence:
      # we don't use caddy certs, etc, so don't need persistent volumes here
      data:
        type: emptyDir
        globalMounts:
          - path: /data
      config:
        type: emptyDir
        globalMounts:
          - path: /config
