---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: postgres-cluster
spec:
  dependsOn:
    - name: cloudnative-pg
      namespace: postgresql-system
  interval: 1h
  path: ./kubernetes/apps/postgresql-system/postgres-cluster/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: postgresql-system
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
        optional: false
  wait: true

