---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
spec:
  chartRef:
    kind: OCIRepository
    name: rook-ceph-cluster
  interval: 1h
  values:
    operatorNamespace: rook-ceph-external
    # Cluster name should match the namespace for external clusters
    clusterName: rook-ceph-external
    monitoring:
      enabled: true
      createPrometheusRules: true
      metricsDisabled: false
    toolbox:
      enabled: true
    cephClusterSpec:
      # The monitoring section should be removed from the cephClusterSpec
      external:
        enable: true
        # Reference the secret containing Ceph cluster credentials
        # The ConfigMap rook-ceph-mon-endpoints is automatically discovered
        secretName: rook-ceph-mon
      crashCollector:
        disable: true
      healthCheck:
        daemonHealth:
          mon:
            disabled: false
            interval: 45s
    cephBlockPools: {}
    cephFileSystems: {}
    cephObjectStores: {}

