---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/apps.deployment_v1.json
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-pve-exporter
  labels:
    app.kubernetes.io/name: prometheus-pve-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: prometheus-pve-exporter
  template:
    metadata:
      labels:
        app.kubernetes.io/name: prometheus-pve-exporter
    spec:
      containers:
        - name: prometheus-pve-exporter
          image: ghcr.io/prometheus-pve/prometheus-pve-exporter:3.8.0
          imagePullPolicy: IfNotPresent
          args:
            - --config.file=/config/config.yml
            - --web.listen-address=:9221
          env:
            - name: TMPDIR
              value: /tmp
          ports:
            - name: http
              containerPort: 9221
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /metrics
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /metrics
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              cpu: 20m
              memory: 64Mi
            limits:
              memory: 256Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 65532
            runAsGroup: 65532
            capabilities:
              drop: ["ALL"]
          volumeMounts:
            - name: config
              mountPath: /config
              readOnly: true
            - name: tmp
              mountPath: /tmp
            - name: var-tmp
              mountPath: /var/tmp
      securityContext:
        fsGroup: 65532
      volumes:
        - name: config
          secret:
            secretName: prometheus-pve-exporter
        - name: tmp
          emptyDir: {}
        - name: var-tmp
          emptyDir: {}
