---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: test-ceph-rbd
  labels:
    app.kubernetes.io/component: source
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: ceph-rbd

