---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: volsync
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: volsync
      app.kubernetes.io/name: volsync-perfectra1n
