---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
spec:
  chartRef:
    kind: OCIRepository
    name: external-secrets
  interval: 1h
  values:
    leaderElect: true
    replicaCount: 2
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                app.kubernetes.io/name: external-secrets
            topologyKey: kubernetes.io/hostname
    serviceMonitor:
      enabled: true
    # grafanaDashboard:
    #   enabled: true
    certController:
      replicaCount: 2
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  app.kubernetes.io/name: external-secrets
                  app.kubernetes.io/component: cert-controller
              topologyKey: kubernetes.io/hostname
      serviceMonitor:
        enabled: true
    webhook:
      replicaCount: 2
      serviceMonitor:
        enabled: true
    extraArgs:
      store-requeue-interval: 30m
