---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minecraft-status-exporter
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: minecraft-status-exporter
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/itzg/minecraft-server
              tag: 2026.1.3-java21
            command:
              - mc-monitor
            args:
              - export-for-prometheus
              - -servers
              - survival-minecraft:25565
              - -servers
              - modded:25565
              - -port
              - "8080"
            resources:
              requests:
                cpu: 50m
                memory: 64Mi
              limits:
                cpu: 200m
                memory: 128Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
    service:
      main:
        controller: main
        ports:
          http:
            port: 8080
    serviceMonitor:
      main:
        enabled: true
        labels:
          release: prometheus
        serviceName: minecraft-status-exporter
        endpoints:
          - interval: 30s
            scrapeTimeout: 10s
            path: /metrics
            port: http

